:root {
  --heading-color: #8e8e65;
  --paragraph-color: #484036;
  --accent-color: #cacab0;
  --background-color: #ecece4;
  --heading-font-family: "Montserrat", sans-serif;
  --sub-heading-font-family: "Lora", serif;
  --default-font-family: "Hind Madurai", sans-serif;
}

body {
  color: var(--paragraph-color);
  font-family: var(--default-font-family);
}

h1 {
  color: var(--heading-color);
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h2 {
  color: var(--accent-color);
  font-family: var(--sub-heading-font-family);
  font-style: italic;
}

.hero {
  background: var(--background-color);
  padding: 200px 20px;
  text-align: center;
}

.hero h1 {
  font-size: 96px;
}

.hero h2 {
  color: var(--paragraph-color);
  padding-bottom: 8px;
}

.hero p {
  color: var(--heading-color);
  font-family: var(--heading-font-family);
  font-size: 48px;
  margin-bottom: 0;
}

.hero .btn {
  background-color: white;
  font-family: var(--sub-heading-font-family);
  font-size: 18px;
  font-style: italic;
  padding: 10px 25px;
}

.hero .btn:hover {
  background-color: var(--accent-color);
  color: white;
}

button {
  align-items: center;
  background-color: var(--accent-color);
  border: 2px solid #ecece4;
  border-radius: 8px;
  box-sizing: border-box;
  color: #ffff;
  cursor: pointer;
  display: block;
  font-family: var(--sub-heading-font-family);
  font-size: 16px;
  font-style: italic;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:after {
  background-color: #ecece4;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

button:hover:after {
  transform: translate(0, 0);
}

button:active {
  background-color: var(--accent-color);
  outline: 0;
}

button:hover {
  outline: 0;
}
