:root {
  --heading-color: #8e8e65;
  --paragraph-color: #484036;
  --accent-color: #cacab0;
  --background-color: #ecece4;
  --heading-font-family: "Montserrat", sans-serif;
  --sub-heading-font-family: "Lora", serif;
  --default-font-family: "Hind Madurai", sans-serif;
}

body {
  color: var(--paragraph-color);
  font-family: var(--default-font-family);
  line-height: 1.5;
}

h1 {
  color: var(--heading-color);
  font-family: var(--heading-font-family);
  font-size: 72px;
}

h2 {
  color: var(--heading-color);
  font-family: var(--heading-font-family);
  font-size: 48px;
}

h3,
h4,
h5,
h6 {
  color: var(--accent-color);
  font-family: var(--sub-heading-font-family);
  font-style: italic;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

img {
  vertical-align: middle;
}

.about-me h3 {
  font-size: 48px;
}

.hero {
  background: var(--background-color);
  padding: 200px 20px;
  text-align: center;
}

.hero h1 {
  font-size: 96px;
}

.hero h3 {
  color: var(--paragraph-color);
  padding-bottom: 8px;
}

.btn {
  background-color: var(--accent-color);
  color: white;
  font-family: var(--sub-heading-font-family);
  font-size: 18px;
  font-style: italic;
  padding: 10px 25px;
}

.btn:hover {
  background-color: white;
}

.btn-branding {
  background-color: var(--accent-color);
  color: white;
  font-family: var(--sub-heading-font-family);
  font-size: 18px;
  font-style: italic;
  padding: 10px 25px;
}

.btn-branding:hover {
  background-color: var(--accent-color);
  color: white;
  transition: ease-in-out 4ms;
}

.project-description {
  margin: 0 30px;
}

@media (max-width: 992px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    padding: 0 15px;
    font-size: 22px;
  }

  .hero {
    padding: 100px 20px;
  }

  .project-description {
    text-align: center;
  }
}
